.course-detail {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 1rem;
      margin: 1rem;
      background-color: lightgrey;
}

.courseId {
      font-size: 20px;
}

.course-detail h1 {
      font-size: 2rem;
      margin-bottom: 1rem;
}

h2 {
      color: black;
      font-size: 18px !important;
}

.course-detail>p {
      font-size: 14px;
}

.detail-info>p {
      color: black;
      margin-top: 0.5rem;
}

.price-details {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 1rem;
      background-color: lightgray;
}

.course-detail-header {
      display: flex;
      flex-direction: column;
      align-items: center;
}

.detail-info {
      display: flex;
      flex-direction: column;
      align-items: center;    
}

.download {
      margin-top: 1rem;
      padding: 0.5rem 1rem;
      background-color: grey;
      border: none;
      color: white;
      cursor: pointer;
}

.glasses-img {
      width: 250px;
      height: auto;
      border-radius: 8px;
      margin-bottom: 1rem;
}

.text {
      display: flex;
      flex-direction: column;
      margin: 1rem;
      background-color: lightgrey;
      padding: 1rem;
}

.list {
      display: flex;
      flex-direction: column;
      
}

.course-grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 20px;
      margin: 1rem;
}

.item {
      background-color: grey;
      padding: 1rem;
      color: white;
      height: 20vh;
      text-align: center;
}