.contact-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      background-color: rgba(128, 128, 128, 0.565);
      margin: 1rem;
      padding: 1rem;
}

h2 {
      font-size: 25px;
      margin-bottom: 1rem;
      text-align: center;
}

.contact-form {
      display: flex;
      flex-direction: column;
      align-self: start;
      max-width: 400px;
      margin: 0 auto;
      background-color: whitesmoke;
      border: 1px solid #ccc;
      padding: 1rem;
}

.submit-button {
      background-color: #4CAF50;
      /* Green */
      color: white;
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 1rem;
      margin-top: 1rem;
}

label {
      margin-bottom: 0.5rem;
      font-weight: bold;
}

input,
textarea {
      padding: 0.5rem;
      margin-bottom: 1rem;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 1rem;
}

.social-media-links {
      list-style-type: none;
      padding: 0;
      display: flex;
      gap: 1rem;
}

.current-projects {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: #f0f0f0;
      border: 1px solid black;
      padding: 1rem;
      width: 400px;
      margin-top: 1rem;
}

.contact-content {
      padding: 0.5rem;
      background-color: grey;
}

.col-1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 0 !important;
}


.grid-item-two {
      padding: 1rem;
}

.sub-grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 10px;
}

.sub-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0.5rem;
      text-align: center;
      background-color: white;
}


.btn {
      margin-top: 1rem;
      background-color: darkblue;
      color: white;
      padding: 0.5rem 1rem;
      border-radius: 4px;
}

